
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 92, 71, 0.986);
    background-image: url(../../images/bg-pattern-intro.svg);
    background-size:cover;
    background-position:center ;
    min-height:90vh ;
    border-bottom-left-radius:10rem;
    position: relative;
}
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 4rem 0;
}
.sloganText{
    font-size: 2.7rem;
    padding: 3rem 3rem;
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
}
.imageAndTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.editorIllustration, .laptopIllustration{
    width: 100%;
    height: auto;
}