.homepage{
    max-width: 420px;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255,143,112);
    /* background: linear-gradient(101deg, rgba(255,143,112,1) 0%, rgba(225,61,84,1) 100%); */
    background-image: url(../../images/bg-pattern-intro.svg);
    background-size:cover;
    background-position:center ;
    min-height:90vh ;
    border-bottom-left-radius:10rem;
    position: relative;
}
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 4rem 0;
}
.sloganText{
    font-size: 2.7rem;
    padding: 3rem 3rem;
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    color: var(--Dark-Blue);
}
.imageAndTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.editorIllustration, .laptopIllustration{
    width: 100%;
    height: auto;
}
.middleContainer{
    
}