.footerContainer{
    background-color:var(--Very-Dark-Blue);
    color: var(--White);
    border-top-right-radius: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
    
}
.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}
.contentContainer h3{
font-size: 1.8rem;
padding: 1rem;

}
.contentContainer ul{
list-style-type: none;

padding: 2rem 0;
}
.contentContainer li{
    padding: 1rem;
    
}
.contentContainer a{
    text-decoration: none;
    color: var(--Grayish-Blue);
    font-size: var(--Body-Ptags);
}
